##### Preprocess the Data

In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the charity_data.csv.
charity_data_df = pd.read_csv("../Resources/charity_data.csv")
charity_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
charity_data_df.drop(columns=['EIN', 'NAME'], inplace=True)
charity_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
charity_data_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = charity_data_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace
application_types_to_replace = list(application_counts[application_counts<500].index)

# Replace the application types in the dataframe with 'Other'
for application_type in application_types_to_replace:
    charity_data_df['APPLICATION_TYPE'] = charity_data_df['APPLICATION_TYPE'].replace(application_type, 'Other')

# Check to make sure binning was successful
charity_data_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = charity_data_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >10
classification_counts[classification_counts>10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)
  
# Replace in dataframe
for clas in classifications_to_replace:
    charity_data_df['CLASSIFICATION'] = charity_data_df['CLASSIFICATION'].replace(clas,"Other")
    
# Check to make sure binning was successful
charity_data_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
charity_dummies_df = pd.get_dummies(charity_data_df)
charity_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = charity_dummies_df.drop('IS_SUCCESSFUL', axis='columns').values
y = charity_dummies_df['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Get the shape of the scaled data
X_train_scaled.shape

(25724, 43)

##### Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural network with one hidden layers with 80 and 30 neurons 
input_features = len(X_train[0])
print(input_features)

43

In [15]:
hidden_layer_1 = 80
hidden_layer_2 = 30

In [16]:
# Create a neural network model by assigning the number of input features and nodes for each layer using TensorFlow and Keras.
nn_model = tf.keras.models.Sequential()

# Add a hidden layer with 80 neurons
nn_model.add(tf.keras.layers.Dense(units=hidden_layer_1, input_dim=input_features, activation='relu'))

# Add a hidden layer with 30 neurons
nn_model.add(tf.keras.layers.Dense(units=hidden_layer_2, activation='relu'))

# Add an output layer with 1 neuron
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [18]:
# Train the model
nn_fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 792us/step - loss: 0.5705 - accuracy: 0.7236
Epoch 2/100
804/804 [==============================] - 1s 760us/step - loss: 0.5553 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 1s 755us/step - loss: 0.5514 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7310
Epoch 5/100
804/804 [==============================] - 1s 879us/step - loss: 0.5486 - accuracy: 0.7315
Epoch 6/100
804/804 [==============================] - 1s 896us/step - loss: 0.5479 - accuracy: 0.7302
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7315
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7327
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7325
Epoch 11/100
804/804 [==============================] - 1s 959us/step - loss: 0.5448 - accuracy: 0.7323
Epoch 12/100
804/804 [==============================] - 1s 837us/step - loss: 0.5445 - accuracy: 0.7349
Epoch 13/100
804/804 [==============================] - 1s 923us/step - loss: 0.5445 - accuracy: 0.7335
Epoch 14/100
804/804 [==============================] - 1s 920us/step - loss: 0.5438 - accuracy: 0.7350
Epoch 15/100
804/804 [==============================] - 1s 906us/step - loss: 0.5433 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 1s 988us/step - loss: 0.5429 - accuracy: 0.7353
Epoch 17/100
804/804 [==============================] - 1s 811us/step - loss: 0.5427 - accuracy: 0.7353
Epoch 18/100
804/804 [==============================] - 1s 911us/step - loss: 0.5427 - accuracy: 0.7360
Epoch 19/100
804/804 [==============================] - 1s 775us/step - loss: 0.5423 - accuracy: 0.7361
Epoch 20/100
804/804 [==============================] - 1s 882us/step - loss: 0.5417 - accuracy: 0.7349
Epoch 21/100
804/804 [==============================] - 1s 803us/step - loss: 0.5417 - accuracy: 0.7356
Epoch 22/100
804/804 [==============================] - 1s 895us/step - loss: 0.5417 - accuracy: 0.7369
Epoch 23/100
804/804 [==============================] - 1s 938us/step - loss: 0.5414 - accuracy: 0.7367
Epoch 24/100
804/804 [==============================] - 1s 840us/step - loss: 0.5413 - accuracy: 0.7380
Epoch 25/100
804/804 [==============================] - 1s 894us/step - loss: 0.5404 - accuracy: 0.7372
Epoch 26/100
804/804 [==============================] - 1s 756us/step - loss: 0.5408 - accuracy: 0.7369
Epoch 27/100
804/804 [==============================] - 1s 752us/step - loss: 0.5407 - accuracy: 0.7363
Epoch 28/100
804/804 [==============================] - 1s 809us/step - loss: 0.5406 - accuracy: 0.7370
Epoch 29/100
804/804 [==============================] - 1s 754us/step - loss: 0.5401 - accuracy: 0.7374
Epoch 30/100
804/804 [==============================] - 1s 762us/step - loss: 0.5402 - accuracy: 0.7359
Epoch 31/100
804/804 [==============================] - 1s 811us/step - loss: 0.5400 - accuracy: 0.7368
Epoch 32/100
804/804 [==============================] - 1s 864us/step - loss: 0.5398 - accuracy: 0.7378
Epoch 33/100
804/804 [==============================] - 1s 784us/step - loss: 0.5396 - accuracy: 0.7368
Epoch 34/100
804/804 [==============================] - 1s 759us/step - loss: 0.5393 - accuracy: 0.7369
Epoch 35/100
804/804 [==============================] - 1s 840us/step - loss: 0.5394 - accuracy: 0.7374
Epoch 36/100
804/804 [==============================] - 1s 813us/step - loss: 0.5389 - accuracy: 0.7377
Epoch 37/100
804/804 [==============================] - 1s 761us/step - loss: 0.5387 - accuracy: 0.7374
Epoch 38/100
804/804 [==============================] - 1s 770us/step - loss: 0.5389 - accuracy: 0.7384
Epoch 39/100
804/804 [==============================] - 1s 832us/step - loss: 0.5385 - accuracy: 0.7385
Epoch 40/100
804/804 [==============================] - 1s 761us/step - loss: 0.5385 - accuracy: 0.7367
Epoch 41/100
804/804 [==============================] - 1s 809us/step - loss: 0.5383 - accuracy: 0.7371
Epoch 42/100
804/804 [==============================] - 1s 780us/step - loss: 0.5381 - accuracy: 0.7372
Epoch 43/100
804/804 [==============================] - 1s 818us/step - loss: 0.5385 - accuracy: 0.7371
Epoch 44/100
804/804 [==============================] - 1s 801us/step - loss: 0.5378 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 1s 839us/step - loss: 0.5377 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 1s 839us/step - loss: 0.5378 - accuracy: 0.7378
Epoch 47/100
804/804 [==============================] - 1s 900us/step - loss: 0.5378 - accuracy: 0.7391
Epoch 48/100
804/804 [==============================] - 1s 762us/step - loss: 0.5373 - accuracy: 0.7385
Epoch 49/100
804/804 [==============================] - 1s 850us/step - loss: 0.5376 - accuracy: 0.7378
Epoch 50/100
804/804 [==============================] - 1s 800us/step - loss: 0.5375 - accuracy: 0.7389
Epoch 51/100
804/804 [==============================] - 1s 902us/step - loss: 0.5371 - accuracy: 0.7383
Epoch 52/100
804/804 [==============================] - 1s 828us/step - loss: 0.5373 - accuracy: 0.7378
Epoch 53/100
804/804 [==============================] - 1s 811us/step - loss: 0.5373 - accuracy: 0.7382
Epoch 54/100
804/804 [==============================] - 1s 779us/step - loss: 0.5372 - accuracy: 0.7383
Epoch 55/100
804/804 [==============================] - 1s 855us/step - loss: 0.5369 - accuracy: 0.7372
Epoch 56/100
804/804 [==============================] - 1s 789us/step - loss: 0.5365 - accuracy: 0.7399
Epoch 57/100
804/804 [==============================] - 1s 766us/step - loss: 0.5370 - accuracy: 0.7389
Epoch 58/100
804/804 [==============================] - 1s 856us/step - loss: 0.5366 - accuracy: 0.7388
Epoch 59/100
804/804 [==============================] - 1s 822us/step - loss: 0.5370 - accuracy: 0.7387
Epoch 60/100
804/804 [==============================] - 1s 801us/step - loss: 0.5367 - accuracy: 0.7391
Epoch 61/100
804/804 [==============================] - 1s 830us/step - loss: 0.5365 - accuracy: 0.7386
Epoch 62/100
804/804 [==============================] - 1s 799us/step - loss: 0.5363 - accuracy: 0.7381
Epoch 63/100
804/804 [==============================] - 1s 854us/step - loss: 0.5367 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 1s 765us/step - loss: 0.5363 - accuracy: 0.7396
Epoch 65/100
804/804 [==============================] - 1s 810us/step - loss: 0.5362 - accuracy: 0.7392
Epoch 66/100
804/804 [==============================] - 1s 920us/step - loss: 0.5367 - accuracy: 0.7389
Epoch 67/100
804/804 [==============================] - 1s 773us/step - loss: 0.5360 - accuracy: 0.7397
Epoch 68/100
804/804 [==============================] - 1s 781us/step - loss: 0.5360 - accuracy: 0.7390
Epoch 69/100
804/804 [==============================] - 1s 813us/step - loss: 0.5358 - accuracy: 0.7391
Epoch 70/100
804/804 [==============================] - 1s 769us/step - loss: 0.5358 - accuracy: 0.7391
Epoch 71/100
804/804 [==============================] - 1s 760us/step - loss: 0.5359 - accuracy: 0.7383
Epoch 72/100
804/804 [==============================] - 1s 808us/step - loss: 0.5358 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 1s 782us/step - loss: 0.5362 - accuracy: 0.7387
Epoch 74/100
804/804 [==============================] - 1s 786us/step - loss: 0.5359 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 1s 809us/step - loss: 0.5358 - accuracy: 0.7394
Epoch 76/100
804/804 [==============================] - 1s 844us/step - loss: 0.5357 - accuracy: 0.7393
Epoch 77/100
804/804 [==============================] - 1s 790us/step - loss: 0.5354 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 1s 862us/step - loss: 0.5356 - accuracy: 0.7394
Epoch 79/100
804/804 [==============================] - 1s 757us/step - loss: 0.5352 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 1s 795us/step - loss: 0.5356 - accuracy: 0.7390
Epoch 81/100
804/804 [==============================] - 1s 802us/step - loss: 0.5349 - accuracy: 0.7392
Epoch 82/100
804/804 [==============================] - 1s 813us/step - loss: 0.5349 - accuracy: 0.7394
Epoch 83/100
804/804 [==============================] - 1s 765us/step - loss: 0.5352 - accuracy: 0.7399
Epoch 84/100
804/804 [==============================] - 1s 800us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 85/100
804/804 [==============================] - 1s 879us/step - loss: 0.5351 - accuracy: 0.7405
Epoch 86/100
804/804 [==============================] - 1s 829us/step - loss: 0.5353 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 1s 825us/step - loss: 0.5348 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 1s 883us/step - loss: 0.5350 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 1s 829us/step - loss: 0.5349 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 1s 842us/step - loss: 0.5345 - accuracy: 0.7393
Epoch 91/100
804/804 [==============================] - 1s 881us/step - loss: 0.5345 - accuracy: 0.7395
Epoch 92/100
804/804 [==============================] - 1s 790us/step - loss: 0.5346 - accuracy: 0.7402
Epoch 93/100
804/804 [==============================] - 1s 788us/step - loss: 0.5349 - accuracy: 0.7402
Epoch 94/100
804/804 [==============================] - 1s 827us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 95/100
804/804 [==============================] - 1s 770us/step - loss: 0.5348 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 1s 783us/step - loss: 0.5343 - accuracy: 0.7399
Epoch 97/100
804/804 [==============================] - 1s 864us/step - loss: 0.5345 - accuracy: 0.7399
Epoch 98/100
804/804 [==============================] - 1s 764us/step - loss: 0.5345 - accuracy: 0.7391
Epoch 99/100
804/804 [==============================] - 1s 756us/step - loss: 0.5343 - accuracy: 0.7397
Epoch 100/100
804/804 [==============================] - 1s 812us/step - loss: 0.5345 - accuracy: 0.7395

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5651 - accuracy: 0.7278 - 238ms/epoch - 888us/step
Loss: 0.5651265382766724, Accuracy: 0.7278134226799011

In [20]:
# Export our model to HDF5 file
nn_model.save('../Resources/charity_model.h5')